/*		Tablet Layout: 768px   */

@media only screen and (min-width: 200px) and (max-width: 991px) {
	
    .flexible-area{
        flex-direction: column;
    }
    .mission-area .flexible-area .child-half{
        margin-bottom: 20px;
    }
    #develop-area .child-half:first-child{
        margin-bottom: 30px;
    }
    #application-area .child-half:last-child{
        margin-bottom: 30px;
    }
    
}


/*		Mobile Layout: 550px   */

@media only screen and (min-width: 200px) and (max-width: 550px) {
	.flexible-area {
        padding: 20px 3%;
    }
    #header-area h1{
        font-size: 30px;
    }
    .mission-area h2{
        font-size: 35px;
    }
    h2{
        font-size: 30px;
    }
    #develop-area{
        background: none;
    }
    #community-area{
        background: none;
    }
	
}


@media only screen and (min-width: 200px) and (max-width: 320px) {
	
    .link-btn {
        padding: 10px 20px;
    }
    #header-area h1 {
        font-size: 27px;
    }
    .mission-area h2 {
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
	
}